.card {
  position: relative;
  border-radius: 1rem;
  border: 2px solid var(--primary-30);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
  background-color: var(--neutral-00);
}

.smallCard {
  max-width: 30rem;
}

.secondaryCard {
  border-color: var(--neutral-10);
  box-shadow: none;
}

.secondaryContainer {
  border-radius: calc(1rem - 2px) calc(1rem - 2px) 0 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 7.5rem 2rem;
  background-color: var(--neutral-10);
}

.secondaryText {
  color: var(--neutral-60);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.secondaryContent {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.separator,
.separatorBothBorders {
  height: 0.75rem;
  background: var(--primary-10);
  border-top: 2px solid var(--primary-30);
}

.separatorBothBorders {
  border-bottom: 2px solid var(--primary-30);
}

.logos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding: 0.75rem 1.5rem;
  border-top: 2px solid var(--primary-30);
}

.actions {
  padding: 0.875rem 1.5rem 0.75rem 1.5rem;
  border-top: 2px solid var(--primary-30);

  @media screen and (max-width: 29.875rem) {
    padding: 0.875rem 1rem 0.75rem 1rem;
  }
}

.secondaryActions {
  border-color: var(--neutral-10);
}

.filler {
  border-radius: calc(1rem - 2px);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: var(--primary-80);
  flex: 1;
  opacity: 0.85;
}

.noBorder {
  border-radius: 1rem;
}

.overScreen {
  position: absolute;
  padding: unset;
  border: none;
  bottom: 0;
  z-index: 3;
  background-color: var(--neutral-00);
  border-radius: calc(1rem - 2px);
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:focus {
    outline: none;
  }
}

.fullHeight {
  height: 100%;
  max-height: 100%;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;

  @media screen and (max-width: 29.875rem) {
    padding: 0.75rem 1rem;
  }
}

.overScreenChildren {
  padding: 2rem 1.5rem;
  flex-shrink: 1;
  overflow: auto;

  @media screen and (max-width: 29.875rem) {
    padding: 2rem 1rem;
    flex: 1;
  }
}

.noScroll {
  overflow: unset;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer {
  padding: 0.875rem 1.5rem 0.75rem 1.5rem;

  button {
    margin: auto;
  }

  @media screen and (max-width: 29.875rem) {
    padding: 0.875rem 1rem 0.75rem 1rem;
  }
}

.ressources {
  padding: 1.5rem;
  background: var(--primary-10);
  border-top: 2px solid var(--primary-30);
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;

  @media screen and (max-width: 48rem) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 29.875rem) {
    padding: 1.5rem 1rem;
  }
}

.bottomLanguage,
.language {
  position: relative;

  select {
    padding-left: 2.5rem;
  }

  svg {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}

.language {
  position: absolute;
  left: 1.5rem;
  top: 1.125rem;

  @media screen and (max-width: 48rem) {
    position: relative;
    top: unset;
    left: unset;
  }
}

.disclaimer {
  text-align: center;
  padding: 0.75rem 1.5rem;
  border-top: 2px solid var(--primary-30);
  color: var(--neutral-50);
}

.hiddenTitle {
  left: -99999px;
  position: absolute;
}