.logos {
  border-radius: 0.5rem;
  text-decoration: none;
  display: flex;
  gap: 1.75rem;
  padding: 0.75rem;
  align-items: center;

  &:hover {
    background-color: var(--neutral-10);
  }

  &:focus {
    color: var(--primary-70);
  }

  @media screen and (max-width: 29.875rem) {
    padding: 0.5rem 0.75rem;
    gap: 1rem;
  }
}

.small {
  padding: 0.5rem 0.75rem;
  gap: 1rem;
}