.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.buttons {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;
}

.tileContainer {
  width: calc(11rem - 4px);
  min-height: 15.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
  background-color: var(--secondary-10);
}

.tile,
.disapearingTile {
  overflow: hidden;
  transition: all 0.2s linear;
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.disapearingTile {
  visibility: hidden;
  opacity: 0;
  transform: scale(85%);
}
