.filter {
  label {
    display: inline-block;
    color: var(--neutral-80);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }

  div {
    width: 100%;
  }

  input {
    max-width: 100%;
  }
}

.searchExemples {
  margin-top: 0.5rem;
  color: var(--neutral-60);
  font-weight: 500;

  button {
    color: var(--primary-60);
    font-weight: 700;
  }
}
