.faq {
  :global(.notion) {
    font-family: 'Marianne', Arial, sans-serif;
    font-size: 1rem;
    color: var(--neutral-50);
  }

  :global(.notion-page-icon-inline) {
    width: 1.5rem;
    height: 1.5rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
  }

  :global(.notion-collection-page-properties) {
    display: none;
  }

  :global(.notion-link) {
    color: var(--primary-50);
    font-weight: 500;
    text-decoration: underline;
    border: none;
    opacity: 1;

    &:hover {
      color: var(--primary-70);
    }

    &:focus {
      color: var(--primary-80);
      outline: 3px solid var(--primary-40);
      outline-offset: 2px;
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }

    &:disabled {
      color: var(--neutral-30);
    }
  }

  :global(.notion-page) {
    padding: 0;
    width: 100%;
    margin: 0;
  }

  :global(.notion-asset-caption) {
    display: none;
  }

  :global(.notion-inline-code) {
    color: #d70d0c;
  }
}
