.meta {
  align-items: center;
  border: 1px solid var(--neutral-20);
  border-radius: 4px;
  display: flex;
  gap: 0.75rem;
  padding: 0.75rem;
  text-align: left;
  margin-top: 2rem;

  img {
    max-height: 128px;
    width: auto;
  }

  p {
    margin-bottom: 0;
  }
}

.buttons {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  margin: 2rem auto 0 auto;

  button {
    background-color: transparent !important;
    border: 1px solid var(--primary-20) !important;
    border-radius: 4px;
    color: var(--primary-60) !important;
    cursor: pointer;
    line-height: 0 !important;
    padding: 0.875rem !important;

    &:hover {
      background-color: var(--primary-20) !important;
      border: 1px solid var(--primary-30) !important;
      color: var(--primary-70) !important;
    }

    &:focus {
      outline: 3px solid var(--primary-40) !important;
      outline-offset: 2px !important;
    }

    &:active {
      background-color: var(--primary-30) !important;
      color: var(--primary-80) !important;
    }

    &:disabled {
      background-color: transparent !important;
      border: 1px solid var(--primary-20) !important;
      color: var(--primary-30) !important;
      cursor: not-allowed !important;
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }
  }
}
