.successTitle,
.errorTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.successTitle {
  color: var(--primary-60);
}

.errorTitle {
  color: var(--critical-60);
}

.successIcon,
.errorIcon {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.successIcon {
  color: var(--primary-40);
  border: 2px solid var(--primary-30);
}

.errorIcon {
  color: var(--critical-50);
  border: 2px solid var(--critical-30);
}

.error {
  background-color: var(--error-10);
  color: var(--critical-60);
}

.description {
  margin: 1.5rem 0;
  color: var(--neutral-60);
  font-weight: 400;
}
