.legend {
  color: var(--neutral-80);
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.legendError {
  color: var(--critical-50);
}

.hint {
  color: var(--neutral-60);
  font-weight: 400;
  display: block;
}

.notRequired {
  color: var(--neutral-50);
  font-weight: 400;
}

.inputs {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2.5rem;

  @media screen and (max-width: 29.875rem) {
    flex-direction: column;
  }
}
