.container {
  display: flex;
  gap: 0.5rem 1.5rem;

  @media screen and (max-width: 29.875rem) {
    flex-direction: column;
  }
}

.legend {
  align-items: center;
  color: var(--neutral-60);
  cursor: pointer;
  display: flex;
  font-weight: 500;
  gap: 0.75rem;
  position: relative;
  text-align: left;

  input[type='radio'] {
    -webkit-appearance: none;
    appearance: none;

    border: 2px solid var(--primary-50);
    border-radius: 50%;
    cursor: pointer;
    height: 1.75rem;
    width: 1.75rem;
  }

  input[type='radio']:checked {
    position: relative;
    background-color: var(--primary-10);

    &:before {
      position: absolute;
      top: calc(0.125rem + 2px);
      left: calc(0.125rem + 2px);
      border-radius: 50%;
      content: '';
      width: 1rem;
      height: 1rem;
      background-color: var(--primary-50);
    }
  }

  &:hover {
    color: var(--neutral-70);

    input[type='radio'] {
      border-color: var(--primary-70);
    }

    input[type='radio']:checked {
      border-color: var(--primary-70);
      background-color: var(--primary-20);

      &:before {
        background-color: var(--primary-70);
      }
    }
  }

  input[type='radio']:focus {
    outline: 3px solid var(--primary-50);
    outline-offset: 0;
  }
}

.checked {
  color: var(--neutral-80);

  &:hover {
    color: var(--neutral-80);
  }
}

.disabled {
  cursor: default;
  color: var(--neutral-30) !important;

  input[type='radio'] {
    cursor: default;
    border-color: var(--neutral-30) !important;
    background-color: var(--neutral-00) !important;

    &:before {
      background-color: var(--neutral-30) !important;
    }
  }
}
