.container {
  display: flex;
  gap: 0.5rem 1.5rem;

  @media screen and (max-width: 29.875rem) {
    flex-direction: column;
  }
}

.legend {
  align-items: center;
  color: var(--neutral-50);
  cursor: pointer;
  display: flex;
  font-weight: 500;
  gap: 0.75rem;
  position: relative;
  text-align: left;

  input[type='radio'] {
    -webkit-appearance: none;
    appearance: none;

    border: 2px solid var(--primary-50);
    border-radius: 50%;
    cursor: pointer;
    height: 1.75rem;
    width: 1.75rem;
  }

  input[type='radio']:checked {
    background-color: var(--primary-30);

    &:before {
      display: inline-block;
      border-radius: 50%;
      content: '';
      margin: calc(0.125rem + 1px) 0 0 calc(0.125rem + 1px);
      width: 1.125rem;
      height: 1.125rem;
      background-color: var(--primary-50);
    }
  }

  &:hover {
    color: var(--neutral-70);

    input[type='radio'] {
      border-color: var(--primary-70);
    }

    input[type='radio']:checked {
      border-color: var(--primary-70);

      &:before {
        background-color: var(--primary-70);
      }
    }
  }

  input[type='radio']:focus {
    outline: 3px solid var(--primary-30);
    outline-offset: 0;
  }
}

.checked {
  color: var(--neutral-80);

  &:hover {
    color: var(--neutral-70);
  }
}
