.container {
  position: relative;
}

.select {
  width: 100%;
  select {
    height: 3.5rem;
    padding-left: 4rem;
  }
}

.equivalentIcon {
  position: absolute;
  height: 2.5rem;
  bottom: 0.5rem;
  left: 1rem;
}

.disabled {
  filter: grayscale(1);
  opacity: 0.6;
}
