@font-face {
  font-family: 'Marianne';
  src: url('./Marianne-Light.woff2') format('woff2'),
    url('./Marianne-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('./Marianne-ExtraBold.woff2') format('woff2'),
    url('./Marianne-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('./Marianne-Medium.woff2') format('woff2'),
    url('./Marianne-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
