.header {
  padding: 1.25rem;
}

.hypothesis {
  margin-top: 1.5rem;
  color: var(--neutral-50);
  font-size: 0.75rem;
  line-height: 1rem;
}

.hypothesisTitle {
  color: var(--neutral-60);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
}
