.imageContainer {
  text-align: center;
  margin: 3.75rem 0 -4.375rem 0;

  @media screen and (max-width: 60em) {
    margin-bottom: -2.375rem;
  }
}

.image {
  max-width: calc(100% - 4rem);
  height: auto;
}
