.header {
  margin: -2rem -1.5rem 0 -1.5rem;
  padding: 1.5rem;
  background-color: var(--primary-10);
  border-radius: calc(1rem - 2px) calc(1rem - 2px) 0px 0px;
  border-bottom: 2px solid var(--primary-20);
  display: flex;
  gap: 1rem;

  > div {
    flex: 1;
  }
}

.content {
  margin: 0 -1.5rem;
  height: calc(100% - 6rem - 5px);
  overflow: auto;
  padding: 2rem;
  overflow: auto;
}

.footer {
  margin: 0 -1.5rem -2rem -1.5rem;
  padding: 1rem 2rem;
  border-radius: 0px 0px calc(1rem - 2px) calc(1rem - 2px);
  border-top: 2px solid var(--primary-20);
  background: var(--primary-10);
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    width: calc(100% / 3);
  }
}

.equivalentsNumber {
  font-weight: 500;
}

.equivalentsInfo {
  color: var(--neutral-60);
}

.noResult {
  text-align: center;
}
