.header {
  margin: -2rem -1.5rem 0 -1.5rem;
  padding: 1.5rem;
  background-color: var(--primary-10);
  border-radius: calc(1rem - 2px) calc(1rem - 2px) 0px 0px;
  border-bottom: 2px solid var(--primary-20);
  display: flex;
  gap: 1rem;
  flex-wrap: wrap-reverse;

  >div {
    flex: 1;
  }

  input {
    min-width: 250px;
  }

  @media screen and (max-width: 29.875rem) {
    margin: -2rem -1rem 0 -1rem;
  }
}

.content {
  margin: 0 -1.5rem;
  height: calc(100% - 8rem);
  overflow: auto;
  padding: 2rem;
}

.footerCenter,
.footer {
  padding: 1rem 2rem;
  border-radius: 0px 0px calc(1rem - 2px) calc(1rem - 2px);
  border-top: 2px solid var(--primary-20);
  background: var(--primary-10);
  display: flex;
  margin: 0 -1.5rem -2rem -1.5rem;

  @media screen and (max-width: 29.875rem) {
    margin: 0rem -1rem -2rem -1rem;
  }
}

.footerCenter {
  justify-content: center;
}

.footer {
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem 0;

  p,
  div {
    width: calc(100% / 3);
  }

  @media screen and (max-width: 53rem) {
    justify-content: space-between;

    p,
    div {
      width: fit-content;
    }
  }

  @media screen and (max-width: 31rem) {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
}

.equivalentsNumber {
  font-weight: 500;
}

.equivalentsInfo {
  color: var(--neutral-60);
}

.noResult {
  text-align: center;
}