.copyButton {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:focus {
    outline: 3px solid var(--primary-50) !important;
  }
}
