.buttonRef {
  color: var(--secondary-50);
  font-family: Marianne;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 0.25rem;

  :global(.notion-blue) {
    color: var(--secondary-50);
    text-decoration-line: underline;

    b {
      font-weight: 400;
    }
  }

  &:hover {
    color: var(--secondary-60);

    :global(.notion-blue) {
      color: var(--secondary-60);
    }
  }
}
