.container {
  position: relative;
}

.suggestionsContainer {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.loading {
  bottom: 10px;
  position: absolute;
  right: 8px;
}

.largeLoading {
  bottom: 1rem;
}