.impact-co2-etiquette {
  font-family: 'Marianne', Arial, sans-serif;
  font-size: inherit;
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.ico2-hidden {
  left: -99999px;
  position: absolute;
}
