.block {
  margin: auto;
  padding-top: 4rem;
}

.description {
  color: var(--neutral-60);
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.75rem;

  @media screen and (max-width: 48rem) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.children {
  margin-top: 2rem;
  padding-bottom: 2rem;
}
