.wrapper {
  margin-top: 0;
  margin-bottom: 0;
  .gridlinks {
    border-top: 1px solid var(--neutral-20);
    a {
      border-right: 1px solid var(--neutral-20);
      @media screen and (max-width: 36em) {
        border-right: none;
      }
      color: var(--neutral-50);
      padding-right: 1.5rem;
    }
    a.last {
      border-right: none;
    }
    a:hover {
      color: var(--neutral-80);
    }
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    @media screen and (max-width: 36em) {
      flex-direction: column;
    }
    padding-top: 1.5rem;
  }
}

.logos {
  display: flex;
}

.neutral50 {
  color: var(--neutral-50);
}

.linkContainer {
  display: flex;
  flex-direction: column;
  a {
    color: var(--neutral-70);
    cursor: pointer;
    text-decoration: none;
    margin-top: 0.25rem;
  }
  a:hover {
    text-decoration: underline;
  }
}

.internalContainer {
  border-top: 1px solid var(--neutral-20);
  display: flex;
  padding: 3rem 0 3rem 0;
  @media screen and (max-width: 48em) {
    flex-direction: column;
  }
}

.intro {
  display: flex;
  @media screen and (max-width: 72em) {
    flex-direction: column;
  }
}

.outro {
  display: flex;
  @media screen and (max-width: 72em) {
    flex-direction: column;
  }
  @media screen and (max-width: 48em) {
    flex-direction: row;
  }
  @media screen and (max-width: 36em) {
    flex-direction: column;
  }
}

.ressources {
  margin-left: 2rem;
  @media screen and (max-width: 72em) {
    margin-left: 0;
  }
  @media screen and (max-width: 48em) {
    margin-left: 2rem;
  }
  @media screen and (max-width: 36em) {
    margin-left: 0;
  }
}

.logo {
  display: flex;
}

.followNews {
  color: var(--neutral-70);
  font-weight: 500;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  svg {
    height: 18px;
    width: 18px;
    margin-left: 0.25rem;
  }
  a {
    color: var(--neutral-70);
    cursor: pointer;
    text-decoration: none;
    margin-top: 0.25rem;
  }
  a:hover {
    text-decoration: underline;
  }
}

.footerExplain {
  max-width: 25rem;
  margin-left: 1rem;
  p {
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  @media screen and (max-width: 72em) {
    margin: 1.5rem 0 1.5rem 0;
  }
  @media screen and (max-width: 48em) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--neutral-20);
  }
}

.footerLink {
  a {
    display: flex;
    align-items: center;
    color: var(--neutral-80);
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0em;
    text-decoration: none;
    padding-left: 1.5rem;
    @media screen and (max-width: 36em) {
      padding-left: 0;
    }
  }
  a.first {
    padding-left: 0;
  }
  svg {
    height: 12px;
    margin-left: 0.25rem;
    width: 12px;
  }
  margin-bottom: 0.5rem;
}
