.neutral50 {
  color: var(--neutral-50);
}

.linkContainer {
  display: flex;
  flex-direction: column;

  a {
    color: var(--neutral-70);
    cursor: pointer;
    text-decoration: none;
    margin-top: 0.25rem;
  }

  a:hover {
    text-decoration: underline;
  }
}

.internalContainer {
  border-top: 1px solid var(--neutral-20);
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  flex-wrap: wrap;
  gap: 2rem;
}

.followNews {
  color: var(--neutral-70);
  font-weight: 500;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  svg {
    height: 18px;
    width: 18px;
  }
}

.footerExplain {
  max-width: 25rem;

  p {
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
}

.topLinks {
  display: flex;
  gap: 3rem;
}

.bottomLinks {
  border-top: 1px solid var(--neutral-20);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
}

.bottomLink {
  border-right: 1px solid var(--neutral-20);
  display: flex;
  align-items: center;
  color: var(--neutral-50);
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0em;
  text-decoration: none;
  padding-right: 0.5rem;

  &:last-child {
    border-right: none;
    padding-right: 0;
  }

  &:hover {
    color: var(--neutral-80);
  }

  svg {
    height: 12px;
    margin-left: 0.25rem;
    width: 12px;
  }
}
