.footer {
  position: relative;

  a {
    font-weight: 500;
    text-decoration: none;
    color: var(--neutral-70);
  }

  a:hover {
    color: var(--primary-50);
  }
}

.header {
  position: absolute;
  border-radius: 12.5rem 12.5rem 0 0;
  background-color: var(--neutral-00);
  border: 2px solid var(--primary-30);
  width: 308px;
  height: 80px;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.logos {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: var(--neutral-00);
  justify-content: center;
  display: flex;
  gap: 2.75rem;
  margin-bottom: 2.5rem;

  svg {
    height: 66px;
  }
}

.linkContainer {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  @media screen and (max-width: 48rem) {
    a {
      &:not(:last-child) {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--neutral-20);
      }
    }
  }
}

.internalContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem 0;
  margin: 5rem 0;
}

.footerExplain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  max-width: 22.5rem;
  color: var(--neutral-50);
}

.topLinks {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  color: var(--neutral-70);

  a {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  @media screen and (max-width: 48rem) {
    width: 100%;

    > div {
      width: calc(50% - 1.25rem);
    }
  }

  @media screen and (max-width: 29.875rem) {
    flex-wrap: wrap;

    > div {
      width: 100%;
    }
  }
}

.linkTitle {
  margin: 1.25rem 0 1.75rem 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: var(--neutral-80);
}

.bottomLinks {
  border-top: 1px solid var(--neutral-20);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem 0;
  gap: 0.75rem;
}

.bottomLink {
  a {
    color: var(--neutral-50);
    font-size: 0.875rem;
    font-weight: 400;
  }

  &:not(:last-child) {
    padding-right: 0.75rem;
    border-right: 1px solid var(--neutral-20);
  }
}

.followNews {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.etiquette {
  width: 100%;
}

.etiquetteLabel {
  margin: 0.75rem 0;
  color: var(--neutral-80);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.etiquetteLink {
  display: block;
  margin: 0.75rem 0;
  color: var(--primary-50) !important;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-decoration-line: underline !important;
}

.etiquetteColumn {
  margin-bottom: 1.5rem;
}
