.container {
  margin-top: 7.5rem;
  padding: 5rem 0 7.625rem 0;
  display: flex;
  justify-content: center;
  border-top: 2px solid var(--primary-30);
  border-bottom: 2px solid var(--primary-30);
  background: var(--primary-20);
}

.card {
  width: 100%;
  border-radius: 16px;
  border: 2px solid var(--primary-30);
  background: var(--neutral-00);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
  color: var(--neutral-50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem 1rem;
  padding: 2.5rem;

  a {
    min-width: 213px;
  }

  @media screen and (max-width: 48rem) {
    flex-direction: column;
    text-align: center;
  }
}

.banner {
  margin: 8rem auto -7.5rem auto;
  max-width: 53rem;
  padding: 0 1.5rem;
  height: 354px;
  background-image: url('/images/banner-home-footer.jpg');
  background-position: right;
  background-size: 422px 354px;
  background-repeat: no-repeat;

  @media screen and (max-width: 48rem) {
    background-position: calc(100% + 50px) 0;
  }

  @media screen and (max-width: 44rem) {
    background-position: calc(100% + 150px) 0;
  }

  @media screen and (max-width: 38rem) {
    background-position: calc(100% + 200px) 0;
  }

  @media screen and (max-width: 34rem) {
    background-position: calc(100% + 250px) 0;
  }

  @media screen and (max-width: 31.25rem) {
    background-image: none;
    height: unset;
  }
}

.image {
  display: none;

  @media screen and (max-width: 31.25rem) {
    margin: 1.75rem auto 0 auto;
    display: block;
    width: 100%;
    height: auto;
  }
}

.content {
  max-width: 31rem;
  @media screen and (max-width: 53rem) {
    max-width: 25rem;
  }

  @media screen and (max-width: 31.25rem) {
    max-width: 100%;
  }
}
.description {
  margin: 0.75rem 0 1.75rem 0;
}
