.container {
  margin-top: 2rem;

  h1 {
    margin-bottom: 1.5rem;
  }

  h2 {
    margin: 2rem 0 1rem 0;
  }

  h3 {
    margin: 0.75rem 0 0.5rem 0;
  }

  ul {
    margin-left: 2rem;
  }

  table {
    margin-top: 1rem;
    border: 1px solid var(--neutral-80);
  }

  th, td {
    border: 1px solid var(--neutral-80);
    padding: 0.5rem;
  }
}