.container {
  border-radius: 8px;
  border: 1px solid var(--neutral-30);
}

.leftContent {
  flex: 1;
  padding: 0.75rem;
}

.comparison {
  padding: 0.75rem;

  &:not(:last-child) {
    border-bottom: solid 1px var(--neutral-30);
  }
}
