.container {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 2px solid var(--primary-30);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06) !important;
}

.withRandomize {
  padding-bottom: 0.5rem;
}

.leftContent {
  flex: 1;
  padding: 0.75rem;
}

.comparison {
  padding: 0.75rem;

  &:not(:last-child) {
    border-bottom: 2px solid var(--primary-30);
  }
}