.container {
  border-radius: 8px;
  border: 1px solid var(--neutral-30);
  display: flex !important;
  width: fit-content;
  line-height: 1.25rem;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}

.left {
  display: flex !important;
  align-items: center;
  gap: 0.75em;
  border-radius: 8px 0 0 8px;
  padding: 0 1.25em 0 0;
  border-right: 1px solid var(--primary-30);
  background-color: var(--primary-10);
  color: var(--primary-70);
}

.right {
  position: relative;
  border-radius: 0 8px 8px 0;
  background-color: var(--neutral-00);
  color: var(--neutral-50);
}

.equal {
  left: -0.625em;
  top: 0.875em;
  border: 1px solid var(--primary-30);
  border-radius: 50%;
  background-color: var(--neutral-00);
  color: var(--primary-40);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.25em;
  width: 1.25em;
}

.logo {
  display: flex !important;
  align-items: center;
  padding: 0 0.75em;
  height: 100%;
  border-right: 1px solid var(--primary-20);
  color: var(--primary-50);

  > svg {
    height: 3em;
  }
}

.value {
  font-size: 1.25em;
  line-height: 1.2;
  font-weight: 700;
}

.comparisons {
  display: flex;
  align-items: stretch;
}

.comparison {
  padding: 0.75em 1.25em;

  &:not(:last-child) {
    border-right: 1px solid var(--neutral-30);
  }
}

.label {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}
