.animatedContainer,
.container {
  position: relative;
  font-size: initial !important;
  border-radius: 8px !important;
  border: 2px solid var(--primary-30) !important;
  display: flex !important;
  width: fit-content !important;
  line-height: 1.25em !important;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06) !important;
}

.animatedContainer {
  border-radius: 8px 0 0 8px !important;
}

.all,
.left,
.top {
  display: flex !important;
  align-items: stretch !important;
  border-radius: 6px 0 0 6px !important;
  gap: 0.75em !important;
  background-color: var(--primary-10) !important;
  color: var(--primary-70) !important;
}

.all {
  border-radius: 6px !important;
}

.left {
  border-right: 2px solid var(--primary-30) !important;
}

.top {
  border-radius: 6px 6px 0 0 !important;
  border-bottom: 2px solid var(--primary-30) !important;
}

.leftContent {
  padding: 0.75em 1.25em 0.75em 0.25em !important;
  margin: auto !important;
}

.rightColumn,
.right {
  position: relative !important;
  border-radius: 0 6px 6px 0 !important;
  background-color: var(--neutral-00) !important;
  color: var(--neutral-50) !important;
}

.rightColumn {
  border-radius: 0 0 6px 6px !important;
}

.rightContent {
  overflow: hidden;
}

.animatedEqualColumn,
.animatedEqual,
.equalColumn,
.equal {
  z-index: 2;
  top: 50% !important;
  transform: translateX(-50%) translateY(-50%) !important;
  border-radius: 50%;
  background-color: var(--neutral-00) !important;
  color: var(--primary-50) !important;
  position: absolute !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 1rem !important;
  width: 1rem !important;

  svg {
    width: 0.75em !important;
    height: 0.75em !important;
  }
}

.equalColumn,
.equal {
  border: 2px solid var(--primary-30) !important;
  height: 1.25rem !important;
  width: 1.25rem !important;
}

.animatedEqualColumn,
.equalColumn {
  top: 0 !important;
  left: 1.5em !important;
  transform: translateY(-50%) !important;
}

.value {
  font-size: 1.5em !important;
  line-height: 1.2 !important;
  font-weight: 800 !important;
}

.animatedComparisons {
  display: grid !important;
}

.comparisonsColumn,
.comparisons {
  display: flex !important;
  align-items: stretch !important;
}

.comparisonsColumn {
  flex-direction: column !important;
}

.comparison,
.visibleAnimatedComparison,
.animatedComparison {
  padding: 0.75em 1.25em !important;

  &:focus {
    outline: none;
  }
}

.comparison:not(:last-child) {
  border-right: 2px solid var(--primary-30) !important;
}

.visibleAnimatedComparison,
.animatedComparison {
  grid-column: 1 !important;
  grid-row: 1 !important;
  width: max-content !important;
  opacity: 0 !important;
  visibility: hidden !important;
  transition: all 1000ms ease-in-out;
  margin-left: -10px !important;
  margin-right: 10px !important;
}

.visibleAnimatedComparison {
  margin-left: 0 !important;
  margin-right: 0 !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.empty,
.label {
  font-size: 0.75em !important;
  font-weight: 500 !important;
  line-height: 1.33em !important;
}

.empty {
  max-width: 10.375rem;
}

.progressBarColumn,
.progressBar {
  position: absolute !important;
  height: 1.5em !important;
  width: 1.5em !important;
  border-radius: 50% !important;
}

.progressBarColumn {
  top: 0 !important;
  left: 1.25em !important;
  transform: translateY(-50%) !important;
}

.progressBar {
  top: 50% !important;
  transform: translateX(-50%) translateY(-50%);
}

.columnRandomize,
.randomize {
  padding: 0 !important;
  cursor: pointer !important;
  border-radius: 50% !important;
  width: 1.75em !important;
  height: 1.75em !important;
  min-height: unset !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: 2px solid var(--primary-50) !important;
  background-color: var(--primary-40) !important;
  color: var(--neutral-00) !important;
  position: absolute !important;

  &:hover {
    background-color: var(--primary-60) !important;
  }

  svg {
    height: 0.75em !important;
    width: 0.75em !important;
  }
}

.randomize {
  top: 50% !important;
  right: 0 !important;
  transform: translate(50%, -50%) !important;
}

.columnRandomize {
  bottom: 0 !important;
  left: 1.5em !important;
  transform: translateY(50%) !important;
}
