.clipboardTitle {
  color: var(--neutral-80);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.title {
  color: var(--neutral-80);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin-block: 1.5rem;
}

.description {
  margin-bottom: 2.75rem;
}

.separator {
  border-bottom: 2px solid var(--neutral-20);
  margin-block: 1.5rem 2rem;
}
