.box {
  margin-top: 2rem;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 0.625rem 0.75rem 0.625rem 1rem;
  position: relative;
  text-align: left;
  width: 100%;
  border: 1px solid var(--neutral-10);
  background-color: var(--neutral-10);
  color: var(--neutral-60);

  .copy {
    color: var(--primary-60);
  }

  &:hover {
    background-color: var(--neutral-00);
    outline: 1px solid var(--neutral-10);

    .copy {
      color: var(--primary-70);
    }
  }
}

.content {
  display: inline-block;
  width: fit-content;
  word-break: break-word;
}

.copy {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-size: 0.875rem;
  font-weight: 500;
  justify-content: flex-end;
  line-height: 1.5rem;

  svg {
    margin-left: 0.25rem;
  }
}

.copied {
  color: var(--success-60) !important;
}

.information {
  align-items: center;
  color: var(--neutral-50);
  display: flex;
  font-size: 0.75rem;
  font-weight: 400;
  gap: 0.5rem;
  line-height: 1rem;
  margin-top: 0.5rem;

  svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}