.faq {
  padding: 1.25rem 0;
  border-bottom: 2px solid var(--neutral-20);
  list-style-type: none;
}

.smallFaq {
  padding: 0.75rem 0;
}

.button {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--primary-30);
  color: var(--primary-50);
}

.smallButton {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
}

.openButton {
  transform: rotate(45deg);
}

.smallButton.openButton {
  transform: unset;
  border-color: transparent;
  margin-left: 2px;
  background-color: transparent;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: var(--neutral-00);
  cursor: pointer;
  color: var(--neutral-80);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: left;

  &:hover {
    .button {
      border: 2px solid var(--primary-40);
      background-color: var(--primary-10);
    }
  }
}

.smallTitle {
  h3 {
    color: var(--neutral-70);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
  }

  &:hover {
    h3 {
      color: var(--primary-70);
    }
  }
}

.content {
  margin: 1.25rem 0 1.75rem 0;
}
