.button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.5rem;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;

  color: var(--primary-50);

  &:hover {
    background-color: var(--primary-10);
    color: var(--primary-60);
  }

  &:active {
    background-color: var(--primary-20);
    color: var(--primary-70);
  }

  &:disabled {
    background-color: transparent;
    color: var(--primary-20);
    cursor: not-allowed;
  }
}

.small {
  padding: 0;
}

.reverse {
  flex-direction: row-reverse;
}
