.reset {
  position: absolute;
  bottom: 2rem;
  right: 1.5rem;

  @media screen and (max-width: 53rem) {
    right: 0;
  }

  @media screen and (max-width: 48rem) {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    position: initial;
  }
}

.button {
  cursor: pointer;
  display: flex;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--neutral-50);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;

  &:hover {
    background: var(--primary-10);
    color: var(--primary-60);
  }

  &:active {
    color: var(--primary-70);
  }

  &:focus {
    outline: 3px solid var(--primary-40);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
