.linkContainer {
  align-items: stretch;
  background-color: var(--neutral-00);
  border: 2px solid var(--neutral-20);
  border-radius: 1rem;
  color: var(--neutral-80);
  display: flex;
  text-decoration: none;
  z-index: 2;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04);

  &:hover {
    border: 2px solid var(--primary-30);

    .image {
      border-right: 2px solid var(--primary-30);
    }
  }
}

.content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  padding: 1.125rem 1.5rem;
  text-align: left;
}

.image {
  overflow: hidden;
  background-color: var(--neutral-10);
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--neutral-20);
  border-radius: calc(1rem - 2px) 0 0 calc(1rem - 2px);
  min-width: 8rem;

  img {
    border-radius: cal(1rem - 2px) 0 0 cal(1rem - 2px);
  }

  @media screen and (max-width: 29.875rem) {
    width: 6rem;
    min-width: 6rem;
  }
}

.text {
  color: var(--neutral-70);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;

  @media screen and (max-width: 48rem) {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  @media screen and (max-width: 29.875rem) {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}

.fakeLink {
  color: var(--primary-50);
  font-weight: 500;
  text-decoration: underline;
}
