.iframe {
  width: 100%;
  height: 19rem;

  @media screen and (max-width: 48rem) {
    height: 20rem;
  }

  @media screen and (max-width: 40rem) {
    height: 23rem;
  }

  @media screen and (max-width: 36rem) {
    height: 25rem;
  }

  @media screen and (max-width: 29.5rem) {
    height: 32rem;
  }
}