.empty,
.equivalent {
  display: block;
  min-height: 8.25rem;
  border-radius: 0.75rem;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04);
  border: 2px solid var(--neutral-20);
  background: var(--neutral-00);
  padding: 1.25rem 2rem;
}

.equivalent {
  text-decoration: none;

  &:hover {
    border-color: var(--primary-30);
  }

  &:active {
    border-color: var(--neutral-30);
  }

  @media screen and (max-width: 29.875rem) {
    padding: 0.75rem 1rem;
    min-height: 6.25rem;
  }
}

.empty {
  background: var(--neutral-10);
}
