.buttons {
  display: flex;

  @media screen and (max-width: 40rem) {
    width: 100%;

    li {
      flex: 1;
    }
  }
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(2rem + 2px);
  height: 2.5rem;
  color: var(--primary-60);
  font-weight: 500;
  background-color: var(--neutral-00);
  border: 2px solid var(--primary-30);
  border-right: none;

  &:hover {
    background-color: var(--primary-30);
    color: var(--primary-80);
  }

  &:focus {
    z-index: 1001;
    outline-offset: -2px;
    position: relative;
  }

  @media screen and (max-width: 40rem) {
    width: 100%;
    height: 2.75rem;
  }
}

.first {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.last {
  border-right: 2px solid var(--primary-30);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.selected {
  background-color: var(--primary-60);
  color: var(--neutral-00);

  &:hover {
    background-color: var(--primary-60);
    color: var(--neutral-00);
  }
}

.recommendations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: var(--neutral-50);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}
