.displayAll {
  width: 100%;
  padding: 1rem 1.5rem;
  font-weight: 500;
  color: var(--primary-60);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--neutral-00);
  cursor: pointer;
  border-top: 2px solid var(--primary-30);

  &:hover {
    background-color: var(--primary-10);
  }

  &:active {
    color: var(--primary-70);
  }
}
