.addresses {
  display: flex;
  gap: 0.75rem;
  width: 100%;

  > div {
    flex-grow: 1;

    input {
      max-width: 100%;
    }
  }

  @media only screen and (max-width: 50rem) {
    flex-direction: column;
  }
}

.empty {
  padding: 1.5rem;
  background-color: var(--primary-10);
  text-align: center;
  border-top: 2px solid var(--primary-30);
  position: relative;
  z-index: 1;
  margin-bottom: -0.75rem;
}
