.image {
  border-radius: 0.5rem;
  background: var(--primary-10);
  padding: 2.25rem 0;
  width: 100%;
  text-align: center;
}

.content {
  margin: 1.25rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--neutral-50);

  b {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.link {
  border-top: 2px solid var(--neutral-20);
  padding-top: 2.25rem;

  a {
    width: 100%;
  }
}
