.card {
  padding: 2rem 2rem 2.5rem 2rem;

  @media screen and (max-width: 29.875rem) {
    padding: 1rem 1rem 2.5rem 1rem;
  }
}

.image {
  background-color: var(--primary-10);
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  overflow: hidden;

  img {
    width: auto;
    height: 180px;
    max-width: 100%;
    object-fit: cover;
  }
}

.content {
  margin: 1.25rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--neutral-50);

  b {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--neutral-80);
  }

  img {
    border-radius: 0.25rem;
    border: 2px solid var(--neutral-20);
    padding: 1.25rem 0;
    width: 100%;
    height: auto;
  }
}

.link {
  border-top: 2px solid var(--neutral-20);
  padding-top: 2.25rem;

  a {
    width: 100%;
  }
}

.clipboardTitle {
  color: var(--neutral-50);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
