.smallInputSimulator,
.simulator {
  padding: 1.5rem;
  color: var(--neutral-50);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;

  select,
  input {
    color: var(--neutral-80);
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2rem;
  }

  select,
  input:not([type='checkbox']) {
    padding: 0.5rem 1rem;
  }

  select {
    padding-right: 2rem;
  }

  @media screen and (max-width: 29.875rem) {
    padding: 1.5rem 1rem;
  }

  b {
    color: var(--neutral-80);
  }
}

.smallInputSimulator {
  input {
    max-width: 12rem;
  }
}

.withBorder {
  border-bottom: 2px solid var(--primary-30);
}
