.simulator {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  label {
    color: var(--neutral-80);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

.days {
  label {
    font-weight: 400;
  }
}

.transportMode {
  width: 100%;

  select {
    max-width: 100%;
  }
}

.results {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  gap: 1.5rem 0;
  border-top: 2px solid var(--neutral-20);

  @media screen and (max-width: 29.875rem) {
    flex-direction: column;
  }
}

.values {
  color: var(--neutral-50);
  text-align: center;
  padding: 0 1.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;

  &:not(:last-child) {
    border-right: 2px solid var(--neutral-20);

    @media screen and (max-width: 29.875rem) {
      border-right: none;
    }
  }
}

.header {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.greenValue,
.value {
  color: var(--neutral-80);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2.75rem;
}

.greenValue {
  color: var(--primary-50);
}

.number {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.75rem;
}

.etiquette {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  color: var(--neutral-50);
  margin: 1.5rem 0 2rem 0;
  padding: 0 2rem;
}