.container {
  position: relative;
  background-color: var(--primary-10);
  padding: 2.5rem 1.5rem calc(1.5rem - 2px) 1.5rem;

  @media screen and (max-width: 29.875rem) {
    padding: 4.25rem 0.25rem calc(1.5rem - 2px) 0.25rem;
  }
}

.button {
  margin: 1.5rem auto 0 auto;
}

.comparisons {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.5rem;

  @media screen and (max-width: 48rem) {
    gap: 0.25rem;
  }

}

.tile, .disapearingTile {
  transition: all 0.2s linear;
  visibility: visible;
  opacity: 1;
  width: 100%;
  min-height: 100%;
}


.disapearingTile {
  visibility: hidden;
  opacity: 0;
  transform: scale(85%);
}

.comparison {
  flex: 1;
  height: 100%;
}


.vs {
  color: var(--primary-60);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  border-top: 2px solid var(--primary-30);
  border-bottom: 2px solid var(--primary-30);
  padding: 0.5rem 0;
  margin: auto;

  @media screen and (max-width: 29.875rem) {
    display: none;
  }
}

.noBorder {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -2px;
  left: 0;
  background-color: var(--primary-10);
}