.container {
  display: flex;
  padding: 0.75rem 1.5rem;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background: var(--primary-10);
  color: var(--primary-70);
  border-top: 2px solid var(--primary-30);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;

  @media screen and (max-width: 29.875rem) {
    justify-content: center;
  }
}

.withBorder {
  border-bottom: 2px solid var(--primary-30);
}

.text {
  @media screen and (max-width: 29.875rem) {
    display: none;
  }
}

.modes {
  border-radius: 0.5rem;
  border: 2px solid var(--primary-30);
  display: flex;
}

.leftButton,
.rightButton {
  position: relative;
  color: var(--primary-70);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:focus {
      outline: none;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        outline: 3px solid var(--primary-40);
        outline-offset: 4px;
        border-radius: 0.5rem;
      }
    }

    &:focus:not(:focus-visible) {
      &:before {
        outline: none;
      }
    }
  }
}

.leftLabel,
.rightLabel {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary-20);
  padding: 0.5rem 1rem;
}

.leftLabel {
  border-radius: calc(0.5rem - 2px) 0 0 calc(0.5rem - 2px);
  border-right: 2px solid var(--primary-30);
}

.rightLabel {
  border-radius: 0 calc(0.5rem - 2px) calc(0.5rem - 2px) 0;
}

.clickeable {
  cursor: pointer;
  background-color: var(--primary-10);
  color: var(--primary-60);

  &:hover {
    background-color: var(--neutral-00);
    color: var(--primary-70);
  }
}