@font-face {
  font-family: 'Marianne';
  src:
    url('https://cdn.jsdelivr.net/npm/@gouvfr/dsfr@12.1.1/dist/fonts/Marianne-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/npm/@gouvfr/dsfr@12.1.1/dist/fonts/Marianne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marianne';
  src:
    url('https://cdn.jsdelivr.net/npm/@gouvfr/dsfr@12.1.1/dist/fonts/Marianne-Medium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/npm/@gouvfr/dsfr@12.1.1/dist/fonts/Marianne-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marianne';
  src:
    url('https://cdn.jsdelivr.net/npm/@gouvfr/dsfr@12.1.1/dist/fonts/Marianne-Bold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/npm/@gouvfr/dsfr@12.1.1/dist/fonts/Marianne-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
