body {
  --primary-10: #e0f4f3;
  --primary-40: #35a099;
  --primary-60: #13706d;
  --secondary-10: #ebf2ff;
  --secondary-20: #ccdcfd;
  --secondary-60: #002f8e;
  --secondary-70: #00205f;
  --neutral-50: #6a5f66;
  --neutral-80: #110d10;
}
