body {
  --primary-10: #e0f4f3;
  --primary-20: #c4eae7;
  --primary-30: #afe0dd;
  --primary-40: #35a099;
  --primary-50: #26827c;
  --primary-60: #13706d;
  --primary-70: #0c5956;
  --primary-80: #003332;

  --secondary-10: #ebf2ff;
  --secondary-20: #ccdcfd;
  --secondary-30: #aec8fc;
  --secondary-40: #235dd2;
  --secondary-50: #0c44b4;
  --secondary-60: #002f8e;
  --secondary-70: #00205f;
  --secondary-80: #013;

  --neutral-10: #f9f7f8;
  --neutral-20: #eae5e8;
  --neutral-30: #d5cdd2;
  --neutral-40: #83777f;
  --neutral-50: #6a5f66;
  --neutral-60: #5a5057;
  --neutral-70: #3a3236;
  --neutral-80: #110d10;

  --success-10: #e4f4e0;
  --success-50: #268232;
  --success-60: #13701f;

  --error-10: #ffeeeb;
  --error-60: #8a1200;
}
