:root {
  --dropdown-arrow-black: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%233a3236' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  --dropdown-arrow-primary: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%2326827c' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");

  --critical-10: #ffeeeb;
  --critical-20: #fecec7;
  --critical-30: #fcb0a4;
  --critical-40: #d63e1d;
  --critical-50: #b31800;
  --critical-60: #8a1200;
  --critical-70: #5d0c00;
  --critical-80: #330700;

  --neutral-00: #ffffff;
  --neutral-10: #f9f7f8;
  --neutral-20: #eae5e8;
  --neutral-30: #d5cdd2;
  --neutral-40: #83777f;
  --neutral-50: #6a5f66;
  --neutral-60: #5a5057;
  --neutral-70: #3a3236;
  --neutral-80: #110d10;
  --neutral-100: #000000;

  --primary-10: #e0f4f3;
  --primary-20: #c4eae7;
  --primary-30: #afe0dd;
  --primary-40: #35a099;
  --primary-50: #26827c;
  --primary-60: #13706d;
  --primary-70: #0c5956;
  --primary-80: #003332;

  --secondary-10: #eff4fd;
  --secondary-20: #ccdcfd;
  --secondary-30: #aec8fc;
  --secondary-40: #235dd2;
  --secondary-50: #0c44b4;
  --secondary-60: #002f8e;
  --secondary-70: #00205f;
  --secondary-80: #001133;

  --success-10: #e4f4e0;
  --success-20: #cceac4;
  --success-30: #b9e0af;
  --success-40: #35a043;
  --success-50: #268232;
  --success-60: #13701f;
  --success-70: #0c5916;
  --success-80: #003307;

  --tertiary-10: #fff6eb;
  --tertiary-20: #fee5c7;
  --tertiary-30: #fcd4a4;
  --tertiary-40: #d47909;
  --tertiary-50: #b36200;
  --tertiary-60: #8a4c00;
  --tertiary-70: #5d3300;
  --tertiary-80: #331c00;

  --warning-10: #fff8eb;
  --warning-20: #feecc7;
  --warning-30: #fcdfa4;
  --warning-40: #d99816;
  --warning-50: #a06b00;
  --warning-60: #8a5300;
  --warning-70: #713d00;
  --warning-80: #331c00;
}

.night {
  --dropdown-arrow-black: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23e2dfe0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  --dropdown-arrow-primary: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23229484' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");

  --critical-10: #1f0804;
  --critical-20: #3a1811;
  --critical-30: #4f1b10;
  --critical-40: #8f2612;
  --critical-50: #d63e1d;
  --critical-60: #e95b3e;
  --critical-70: #f5765d;
  --critical-80: #fe8d77;

  --neutral-00: #000000;
  --neutral-10: #191718;
  --neutral-20: #2b272a;
  --neutral-30: #635960;
  --neutral-40: #83777f;
  --neutral-50: #b3a9b0;
  --neutral-60: #d5d0d3;
  --neutral-70: #e2dfe0;
  --neutral-80: #f5f5f5;
  --neutral-100: #ffffff;

  --primary-10: #041f1d;
  --primary-20: #113a38;
  --primary-30: #1e514e;
  --primary-40: #1e645b;
  --primary-50: #229484;
  --primary-60: #20b299;
  --primary-70: #25d4b7;
  --primary-80: #8ce9da;

  --secondary-10: #0a101c;
  --secondary-20: #16243e;
  --secondary-30: #17294d;
  --secondary-40: #1a3c81;
  --secondary-50: #3e73df;
  --secondary-60: #5087f4;
  --secondary-70: #79abfb;
  --secondary-80: #a2c6fb;

  --success-10: #041f08;
  --success-20: #113a18;
  --success-30: #1e5126;
  --success-40: #1e642a;
  --success-50: #229435;
  --success-60: #20b238;
  --success-70: #25d442;
  --success-80: #8ce99c;

  --tertiary-10: #1f0e04;
  --tertiary-20: #3a2211;
  --tertiary-30: #51321e;
  --tertiary-40: #643a1e;
  --tertiary-50: #c7630b;
  --tertiary-60: #e88732;
  --tertiary-70: #f7a156;
  --tertiary-80: #fbc698;

  --warning-10: #1f1204;
  --warning-20: #3a2711;
  --warning-30: #51391e;
  --warning-40: #64431e;
  --warning-50: #a06b00;
  --warning-60: #d39210;
  --warning-70: #f0af2d;
  --warning-80: #fbda98;
}
