.greyContainer,
.container {
  background-color: var(--neutral-00);
  border-radius: 0.5rem;
  border: 2px solid var(--primary-30);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  max-width: 26rem;
}

.header {
  background-color: var(--primary-10);
  display: flex;
  position: relative;
}

.title {
  position: relative;
  padding: 0.75rem 1rem 1rem 1rem;
  color: var(--primary-60);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  flex: 1;
}

.bold {
  color: var(--primary-70);
  font-weight: 700;
}

.disclaimerButton {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  border-top: 2px solid var(--primary-30);
  border-left: 2px solid var(--primary-30);
  border-radius: 0.5rem 0rem 0rem 0rem;
  right: 0;
  bottom: 0;
  padding: 0.25rem 0.5rem;
  line-height: 1;
  height: 1.375rem;
  font-size: 0.75rem;
  color: var(--primary-60);

  svg {
    width: 0.75rem;
    height: 0.75rem;
  }

  &:hover {
    background: var(--primary-20);
    color: var(--primary-70);
  }
  &:active {
    color: var(--primary-80);
  }
}

.content {
  position: relative;
}

.disclaimerAnimated {
  border-radius: 0;
}

.animatedList {
  display: grid;
}

.visibleAnimatedComparison,
.animatedComparison {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  opacity: 0;
  visibility: hidden;
  transition: all 1000ms ease-in-out;
  margin: 0 10px 0 -10px;
}

.visibleAnimatedComparison {
  margin-left: 0;
  margin-right: 0;
  opacity: 1;
  visibility: visible;
}

.greyContainer {
  border-color: #e4e7ec;

  button,
  a {
    &:focus {
      outline-color: var(--neutral-40);
    }
  }

  .logo,
  .disclaimer,
  .header {
    background-color: var(--neutral-00) !important;
    border-color: #e4e7ec !important;
  }

  .disclaimerButton {
    border-color: #e4e7ec;
    color: var(--neutral-50);

    &:hover {
      background: var(--neutral-10);
      color: var(--neutral-60);
    }
  }

  .disclaimer,
  .bold,
  .title {
    color: #12151b;
  }

  .disclaimer a {
    color: #207fa7;
  }

  .logo {
    &:hover {
      background: var(--neutral-10) !important;
    }
  }
}
