.title {
  font-size: 0.875em;
  margin-bottom: 0;
}

.container {
  border-radius: 8px;
  border: 1px solid var(--neutral-20, #eae5e8);
  display: flex !important;
  width: fit-content;
  line-height: 1.25em;
  margin-top: 0.75em;
}

.left {
  display: flex !important;
  align-items: center;
  gap: 0.75em;
  border-radius: 8px 0 0 8px;
  padding: 0 0.75em 0 0;
  border-right: 1px solid var(--primary-30, #afe0dd);
  background-color: var(--primary-10, #e0f4f3);
  color: var(--primary-70, #0c5956);
}

.right {
  position: relative;
  display: flex !important;
  align-items: center;
  gap: 8px;
  border-radius: 0 8px 8px 0;
  padding: 0.75em 1.25em 0.75em 0.75em;
  background-color: var(--neutral-00, #ffffff);
  color: var(--neutral-50, #6a5f66);
}

.equal {
  left: -0.625em;
  top: 0.75em;
  border: 1px solid var(--primary-30, #afe0dd);
  border-radius: 50%;
  background-color: var(--neutral-00, #ffffff);
  color: var(--primary-40, #35a099);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.25em;
  width: 1.25em;
}

.logo {
  display: flex !important;
  align-items: center;
  padding: 0 0.75em;
  height: 100%;
  border-right: 1px solid var(--primary-20, #c4eae7);

  > svg {
    height: 3em;
  }
}

.emoji {
  font-size: 2em;
}

.label {
  font-size: 0.75em;
}

.equivalentValue,
.value {
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 700;
}

.equivalentValue {
  color: var(--neutral-80, #110d10);
}
