.examples {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.displayAll {
  padding: 1rem 1.75rem;
}

.button {
  margin: auto;
  display: flex;
  align-items: center;
  color: var(--primary-50);
  font-weight: 500;
  background-color: var(--neutral-00);
  cursor: pointer;
}