.reverseLogo,
.logo {
  width: fit-content !important;
  display: flex !important;
  align-items: center !important;
  padding: 0 0.875rem 0 0.75rem !important;
  height: auto !important;
  color: var(--primary-50) !important;
  background-color: var(--primary-10) !important;
  box-shadow: none !important;
  min-height: 3.5rem !important;

  &:after {
    content: '' !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  &:hover {
    color: var(--primary-60) !important;
  }

  >svg {
    width: 1.875rem !important;
    height: auto !important;
  }
}

.logo {
  border-right: 2px solid var(--primary-30) !important;
  border-radius: 6px 0 0 6px !important;
}

.reverseLogo {
  border-left: 2px solid var(--primary-30) !important;
  border-radius: 0 6px 6px 0 !important;
}