.reverseLogo,
.logo {
  width: fit-content !important;
  display: flex !important;
  align-items: center !important;
  padding: 0 0.75rem !important;
  height: auto !important;
  color: var(--primary-50) !important;
  background-color: var(--primary-10) !important;
  box-shadow: none !important;
  min-height: 3.5rem !important;

  &:after {
    content: '' !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  &:hover {
    color: var(--primary-60) !important;
  }

  > svg {
    height: 100% !important;
  }
}

.logo {
  border-right: 1px solid var(--primary-20) !important;
  border-radius: 8px 0 0 8px !important;
}

.reverseLogo {
  border-left: 1px solid var(--primary-20) !important;
  border-radius: 0 8px 8px 0 !important;
}
