.logo {
  display: flex !important;
  align-items: center;
  padding: 0 0.75rem;
  height: 100%;
  border-right: 1px solid var(--primary-20);
  color: var(--primary-50);
  background-color: var(--primary-10);
  border-radius: 8px 0 0 8px;

  &:hover {
    color: var(--primary-60);
  }

  > svg {
    height: 100%;
  }
}
