.container {
  font-size: initial !important;
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
  gap: 0.5em !important;
  text-align: left !important;
}

.emoji {
  height: 3em !important;
  width: 3em !important;

  img {
    margin: 0 !important;
    max-width: 3em !important;
    height: 3em !important;
    width: 3em !important;
    border: none !important;
    padding: 0 !important;
  }
}

.label {
  color: var(--neutral-60) !important;
  font-size: 0.75em !important;
  font-weight: 500 !important;
  line-height: 1em !important;
  max-width: 11em !important;
  margin: 0 !important;
}

.equivalentValue {
  font-size: 1.5em !important;
  line-height: 1.2 !important;
  font-weight: 800 !important;
  color: var(--neutral-80) !important;
}

.text {
  margin: 0 !important;

  span {
    display: block;
  }
}
