.container {
  border-radius: 0px 0px 16px 16px;
  background: var(--neutral-10);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0.75rem;
  list-style: none;

  svg {
    color: var(--neutral-40);
  }
}

.current {
  color: var(--neutral-60);
  width: max-content;
  font-weight: 500;
}

.li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.link {
  width: max-content;
  color: var(--primary-60) !important;

  &:hover {
    color: var(--priamry-70) !important;
  }
}