.container {
  color: var(--primary-50);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
  max-width: 10rem;
}

.bar {
  width: 7.5rem;
  height: 1rem;
  display: inline-flex;
  margin-right: -1.5rem;
  border-radius: 1rem;
  border: 2px solid var(--primary-60);
  overflow: hidden;
  background-color: var(--primary-10);
}

.plainBar {
  background-color: var(--primary-40);
  border-right: 2px solid var(--primary-60);
}
