.button {
  -webkit-appearance: none;
  text-decoration: none;
  appearance: none;
  border: none;
  border-radius: 8px;
  padding: 1rem 1.75rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
  background: var(--primary-50);
  color: var(--neutral-00);

  &:hover {
    background: var(--primary-70);
  }

  &:focus {
    outline: 3px solid var(--primary-40);
    outline-offset: 2px;
  }

  &:active {
    background: var(--primary-60);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:disabled {
    background: var(--neutral-30);
  }
}

.outline {
  padding: calc(0.5rem - 2px) calc(1.25rem - 2px);

  background-color: var(--neutral-00);
  color: var(--primary-50);
  border: 2px solid var(--primary-30);

  &:hover {
    border-color: var(--primary-40);
    background-color: var(--primary-10);
    color: var(--primary-60);
  }

  &:active {
    border-color: var(--primary-50);
    background-color: var(--primary-20);
    color: var(--primary-70);
  }
}

.roundButton {
  background-color: transparent !important;
  border: 2px solid var(--primary-30) !important;
  border-radius: 50%;
  color: var(--primary-50) !important;
  cursor: pointer;
  line-height: 0 !important;
  width: 2.5rem;
  height: 2.5rem;

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  &:hover {
    background-color: var(--primary-10) !important;
    border: 2px solid var(--primary-40) !important;
    color: var(--primary-60) !important;
  }

  &:focus {
    outline: 3px solid var(--primary-50) !important;
    outline-offset: 2px !important;
  }

  &:active {
    background-color: var(--primary-20) !important;
    border: 2px solid var(--primary-50) !important;
    color: var(--primary-70) !important;
  }

  &:disabled {
    background-color: transparent !important;
    border: 2px solid var(--primary-20) !important;
    color: var(--primary-30) !important;
    cursor: not-allowed !important;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
