.meta {
  align-items: center;
  border: 1px solid var(--neutral-20);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 0.75rem;
  margin-top: 2rem;
  padding: 0.75rem;
  text-align: left;
  margin-top: 2rem;

  img {
    max-height: 8rem;
    width: auto;
  }

  p {
    margin-bottom: 0;
  }

  @media only screen and (max-width: 48rem) {
    img {
      max-height: 4rem;
    }
  }

  @media screen and (max-width: 29.875rem) {
    flex-direction: column;

    img {
      width: 100%;
      height: auto;
      max-height: unset;
    }
  }
}

.text {
  min-width: 200px;
  flex: 1;
}

.metaHeader {
  color: var(--primary-50);
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.buttons {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  margin: 2rem auto 0 auto;
}

.separator {
  border-top: 1px solid var(--neutral-20);
  margin: 2rem 0;
}
