name: Testing => Run full test suite
on:
  push:
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: impactco2
          POSTGRES_PASSWORD: impactco2
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'
      - name: Copy .env
        run: cp .env.dist .env
      - name: Install dependencies
        run: yarn install --immutable --immutable-cache --check-cache
      - name: Linter
        run: yarn lint
      - name: Run build
        run: yarn build
        env:
          NOTION_API_KEY: ${{ secrets.NOTION_API_KEY}}
      - name: Migrate db
        run: yarn prisma migrate deploy
      - name: Start server
        run: yarn start &
      - name: Unit tests => with Jest
        run: yarn testu
      - name: API tests => with Jest
        run: yarn testa
      - name: E2E tests => install Playwright
        run: yarn playwright install chromium
      - name: E2E tests => with Playwright
        run: yarn teste
      - run: mkdir -p ${{ github.workspace }}/tmp/artifacts
      - name: Lighthouse Check
        uses: foo-software/lighthouse-check-action@master
        id: lighthouseCheck
        with:
          device: all
          urls: 'http://localhost:3000,http://localhost:3000/outils/comparateur,http://localhost:3000/outils/usagenumerique,http://localhost:3000/outils/livraison,http://localhost:3000/outils/chauffage,http://localhost:3000/outils/transport,http://localhost:3000/outils/fruitsetlegumes,http://localhost:3000/outils/chauffage/pompeachaleur,http://localhost:3000/outils/usagenumerique/visioconference,http://localhost:3000/outils/quiz,http://localhost:3000/outils/alimentation'
          outputDirectory: ${{ github.workspace }}/tmp/artifacts
      - name: Verify Lighthouse Check results
        uses: foo-software/lighthouse-check-status-action@master
        with:
          lighthouseCheckResults: ${{ steps.lighthouseCheck.outputs.lighthouseCheckResults }}
          minAccessibilityScore: '93'
          minBestPracticesScore: '100'
      - name: Upload playwright artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: test-results/
          retention-days: 30
      - name: Upload Lighthouse artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: Lighthouse reports
          path: ${{ github.workspace }}/tmp/artifacts
