permissions:
  contents: read
  pull-requests: read
name: Check iframes
on:
  schedule:
    - cron: '0 4,12,16 * * 1-5'
  workflow_dispatch:
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Install Playwright
        run: pnpm playwright install chromium
      - name: Check iframes
        run: pnpm run testIframes
        env:
          MATTERMOST_IMPACTCO2: ${{ secrets.MATTERMOST_IMPACTCO2}}
